<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span>
            <h4>{{ position }}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{ destino.nombre }}</h3>
        <div>
            <a href="#" (click)="voteUp()" appTrackearClick data-tracker-tags="destino_vote_up lista_destinos_item">
                <span class="material-icons md-18">thumb_up</span>
            </a>
            &nbsp;
            <a href="#" (click)="voteDown()" appTrackearClick data-tracker-tags="destino_vote_down lista_destinos_item">
                <span class="material-icons md-18">thumb_down</span>
            </a>
            &nbsp;
            {{ destino.votes }}
        </div>
        <p>Servicios</p>
        <ul>
            <li *ngFor="let servicio of destino.servicios">
                <span [ngSwitch]="servicio">
                    <i *ngSwitchCase="'desayuno'" style="color: red">{{ servicio }}</i>
                    <i *ngSwitchDefault>{{ servicio }}</i>
                </span>
            </li>
        </ul>
        <a href="#" class="btn-card" (click)="ir()" appTrackearClick data-tracker-tags="destino_elegir_preferido lista_destinos_item">Ir!</a>
        <span *ngIf="destino.isSelected()">
            <span ngNonBindable>{{ PREFERIDO }}</span>
        </span>
        <a [routerLink]="['/destino', destino.id]">Ver detalle</a>
    </div>
</div>