<p>
    Aqui vemos el detalle de un destino!
    <br />
    {{ destino.id }}
    <br />
    {{ destino.nombre }}
</p>
<hr/>
<mgl-map
    [style]="style"
    [zoom]="[2]"
    style="height: 50vh; width: 100vw;"
>
    <mgl-marker [lngLat]="[3.2904,-76.3344]">
        <div
            onclick="alert('hallo')"
            class="marker"
        >
        Hallo world
        </div>
</mgl-map>