<div class="container content">
  <div style="float: right;">
    <select (change)="translate.use($event.target.value)">
      <option value="es">ES</option>
      <option value="fr">FR</option>
      <option value="en">EN</option>
    </select>
  </div>

  <div class="page-header">
    <div class="container">
      <h1>Rutas simples</h1>
      <div class="navLinks">
        <a [routerLink]="['/home']">Inicio</a>
        <a [routerLink]="['/destino']">Destino</a>
      </div>
    </div>
  </div>
  
  <div class="row">
    <h1>{{ title }} <b [innerHTML]="'greeting' | translate"></b></h1>
  </div>

  <router-outlet></router-outlet>
</div>

<hr class="mb-5">

Fecha: {{ fecha | async }}